//urls
@import 'https://fonts.googleapis.com/css?family=Roboto+Slab';
@import 'https://fonts.googleapis.com/css?family=Roboto';
@import 'https://fonts.googleapis.com/css?family=Miriam+Libre';
@import 'https://fonts.googleapis.com/css?family=Noticia+Text';
$portada_jpg: url('../images/portada.jpg');
//colors
$white: #FFFFFF;
$color-principal: #2A3B42;
$amarillo: #F8A00B;
//fonts
$font_roboto_slab:'Roboto Slab';
$font_roboto: 'Roboto';
$font_miriam: 'Miriam Libre';
$font_noticia: 'Noticia Text'
